.fotka{

    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    text-align: center;
}

.fotka img{
    width: 50%;
    max-width: 1000px;
    cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
}

.tabulka{

    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td, tr{

    border: 1px solid black;
    padding: 10px;
}

p{
    
    line-height: 175%;
}

.zelene{
    font-size: medium;
    color: #1aaf33
}


.fialove{
    font-size: large;
    color: #a200ff
}

.cervene{
    color: #ff0000;
}

p.male{

    color: rgb(255, 0, 255);
    font-size: 75%;
}

.odkazy{

    position: relative;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    left: 50%;
    width: 9rem;
    border: 2px solid black;
    margin-top: 50px;
}

@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }

.odkazy ul li{

    margin-bottom: 5px;
    list-style-type: "🔥";
    padding-top: 5px;
    &.zvetsit {
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
    }
}
.odkazy ul li a{

    color: black;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    animation: none;
}

.odkazy ul li a:hover{
    animation: color-change 1s infinite;
}